# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: 
email: yatagharoma@gmail.com
description: >- # this means to ignore newlines until "baseurl:"
  Welcome to my cybersecurity research portfolio, where innovation meets resilience.
  Explore my work in machine learning, anomaly detection, and securing critical infrastructures.
  Here, you'll find insights from my ongoing PhD research, presentations at international conferences, and hands-on projects.
  Join me on a journey to enhance the security of cyber-physical systems and industrial environments through cutting-edge 
  research and real-world applications."

twitter_username: username
github_username: Mentor-Roma
minimal_mistakes_skin: default
search: true
url: "https://mentor-roma.github.io" # Your website's main URL
baseurl: "/Yatagha-Romarick" # The repository name or subdirectory where your site is hosted


# Build settings
markdown: kramdown
remote_theme: mmistakes/minimal-mistakes
future: true
# Outputting
permalink: /:categories/:title/
#permalink: /about/
paginate: 5 # amount of posts to show
paginate_path: /page:num/
timezone: # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

include:
  - _pages

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache
  - jekyll-reading-time
  - jekyll-read-time

author:
  name   : "Romarick Yatagha"
  avatar : "/assets/images/roma-profile.png"
  bio    : "Cybersecurity professional with 5+ years of hands-on experience in IT and OT security, including AI-driven anomaly detection and fuzz testing of industrial control system. Certified CEH and Google Cloud Security Engineer with expertise in IEC 62443, and ISO/IEC 27001 standards. Published researcher at ACM/IEEE conferences, and technical trainer specializing in secure architectures for Industrial Control Systems"
  links:
    - label: "LinkedIn"
      icon: "fab fa-fw fa-linkedin"
      url: "www.linkedin.com/in/romarick-yatagha-49549b1bb"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/Mentor-Roma"

footer:
  links:
    - label: "LinkedIn"
      icon: "fab fa-fw fa-linkedin"
      url: "www.linkedin.com/in/romarick-yatagha-49549b1bb"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/Mentor-Roma"

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/
